form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

textarea {
    resize: none;
    width: 100%;
}

label {
    width: 50%;
}

aside p {
    font-size: 2rem;
    text-align: center;
}

aside p a {
    text-decoration: none;
}

p#change, p#noChange {
    display: none;
}